/* Variables */
:root {
  --dark-background: rgba(51, 51, 51, 0.8);
  --dark-text: #BDBDBD;
  --light-text: #F2F2F2;
}

* {
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 600px;
  max-height: 300px;
  
  background: #000;
}

/* Search box */
.search-box {
  display: flex;
  align-items: center;
  
  padding-left: 1em;
  
  box-shadow: inset 0 -1px #C9C9C9;
  background-color: var(--dark-background);
}

.search-box::placeholder {
  color: var(--dark-text);
}

.search-box-input {
  font-size: 1em;
  border: none;
  width: 100%;
  height: 3em;
  
  background-color: transparent;
  color: var(--light-text);
}

.search-icon {
  width: 28px;
  height: 28px;
  margin-right: 1em;
}

/* Tab list */
.tab-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--dark-background);
  white-space: nowrap;
  max-height: 250px;
  overflow: auto;
  user-select: none;
}

/* Tab list item */
.tab-item {
  display: flex;
  align-items: center;
  padding-left: 1em;
  height: 3em;
}

.tab-item.highlighted {
  background: #2F80ED;
}

.tab-item-title {
  margin-right: 5px;
  min-width: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  
  color: var(--light-text);
}

.tab-item-url {
  text-overflow: ellipsis;
  overflow: hidden;
  
  color: var(--dark-text);
}

.tab-item-favicon {
  display: inline-block;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
  margin-right: 1em;
}