* {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.tab-list {
  background: rgba(51, 51, 51, 0.8);
}

.tab-item.selected {
  background: #2F80ED;
}

.tab-item-title {
  margin-right: 5px;
  color: #F2F2F2;
}

.tab-item-url {
  color: #BDBDBD;
}

.tab-item-favicon {
  height: 24px;
  width: 24px;
}